*{
  padding: 0;
  margin: 0;
}
div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  
}
form {
  width: 300px;
  height: 300px;
  background-color: rgb(163, 161, 161);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

label,input,button {
  margin: 10px;
}

label {
  color: rgb(24, 8, 126);
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}
input{
  width: 200px;
  height: 2rem;

}

/* button{
  background-color: rgb(27, 211, 21); ;
} */

/* button:hover{
  background-color: rgb(154, 211, 21); 
  cursor: pointer;
} */

p{
  color:rgb(211, 21, 21);  
}

h3{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin-top: 100px;
  
}

h5{
  color: rgb(13, 138, 20); 
  font-size: 2rem;
  margin-bottom: 50px;
  font-style: italic;
}


